<script src="https://unpkg.com/htmx.org@1.9.10"></script>

<h1>Product Create</h1>
<form method="post">
  {% csrf_token %}

  <h3>Product</h3>
  {{ product_form.as_p }}

  <h3>Variants</h3>

  <div id="variant-container">
    {{ variant_formset.management_form }}
  </div>

  <button
    type="button"
    hx-get="{% url 'products:variant_empty_form' %}"
    hx-target="#variant-container"
    hx-swap="beforeend"
    hx-on="htmx:afterRequest:
      document.getElementById('id_variants-TOTAL_FORMS').value++">
    + Add Variant
  </button>
  
  <br><br>
  <button type="submit">Save</button>
</form>